.not-found-page {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    padding: 0;
}

.terminal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center center;
}
