@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";

@theme {
  --animate-pulse-slow: pulse-slow 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-bounce-subtle: bounce-subtle 2s ease-in-out infinite;
    --font-inst: "Instrument Serif", serif;
    --font-geist: "Geist", sans-serif;

    @keyframes pulse-slow {

        0%,
        100% {
            opacity: 1;
            transform: scale(1);
        }

        50% {
            opacity: 0.8;
            transform: scale(1.05);
        }
    }
}

@layer base {
  body {
    @apply bg-zinc-950 text-white;
  }

  @keyframes bounce-subtle {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-4px);
    }
  }
}

.geist-regular {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Geist", sans-serif;
<<<<<<< HEAD
}
=======
<<<<<<< HEAD
}
=======
}
>>>>>>> f02ef15 (chore: remote typo (wrong column))
>>>>>>> 3a9d7a9 (chore: resolve merge conflicts with master)
